<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h1>Welcome to Group 4 Project</h1>
<p>
    Select a report to view:
</p>
<div style="display: flex; flex-direction: column;">
    <button th:href="@{/country}">Country Report</button>
    <button th:href="@{/city}">City Report</button>
    <button th:href="@{/capital}">Capital Report</button>
    <button th:href="@{/population}">Population Report</button>
</div>
</body>
</html>