name: A workflow for Devops App
on: push

jobs:
  build:
    name: Devops Action
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'
      - name: Create .env from secrets
        run: |
          cat > .env <<EOF
          DB_URL=${{ secrets.DB_URL }}
          DB_USER=${{ secrets.DB_USER }}
          DB_PASS=${{ secrets.DB_PASS }}
          EOF
      - name: Build with Maven
        run: mvn clean package
        # Runs docker compose up but stops all containers when any container stops, which will happen with the app container first
      - name: Run Docker compose
        run: docker compose up --abort-on-container-exit
      - name: View logs
        run: docker logs devops-container
